.signIn-bg {
  background-color: var(--contentBackground);
  background-image: url(../../img/bg.png);
  position: relative;
  height: 100vh;
}

.signUp-bg {
  background-color: var(--contentBackground);
  background-image: url(../../img/bg2.png);
  position: relative;
  height: 100vh;
}

.signIn-bg .signIn-form-bg,
.signUp-bg .signIn-form-bg {
  background-color: var(--elementBackground);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 30px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  border: 2px solid var(--mainColor);
}

.signIn-bg .signIn-form-bg .signIn-form,
.signUp-bg .signIn-form-bg .signIn-form {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}

.signIn-bg .signIn-form-bg .signIn-form div,
.signUp-bg .signIn-form-bg .signIn-form div {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 5px;
}

.signIn-bg .signIn-form-bg .signIn-form div label,
.signUp-bg .signIn-form-bg .signIn-form div label {
  font-size: 1.15rem;
}

.signIn-bg .signIn-form-bg .signIn-form div input,
.signUp-bg .signIn-form-bg .signIn-form div input {
  font-size: 1.15rem;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid var(--mainColor);
  background-color: #2d2d39;
  color: var(--white1);
}

.signIn-bg .signIn-form-bg .signIn-form div input:focus,
.signUp-bg .signIn-form-bg .signIn-form div input:focus {
  outline: 0;
}

.signIn-bg .signIn-form-bg .signIn-form button,
.signUp-bg .signIn-form-bg .signIn-form button {
  font-size: 1.15rem;
  padding: 5px 10px;
  background-color: var(--mainColor);
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  color: var(--white1);
  padding: 10px 20px;
  cursor: pointer;
}
