.main-bg {
  background-color: var(--contentBackground);
  height: auto;
}

.main-bg .main-text-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.main-bg .main-text-intro div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main-bg .main-text-intro img {
  width: 150px;
}

.main-bg .main-text-intro h1 {
  font-size: 6rem;
  font-weight: normal;
}

.main-bg .main-text-intro h2 {
  font-size: 1.5rem;
  color: var(--elementDetails);
}

.main-bg .main-text-intro p {
  font-size: 1rem;
  text-align: center;
  margin-top: 20px;
}

.main-bg .main-text-intro a {
  background-color: var(--mainColor);
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 1.2rem;
}

.main-bg .main-content {
  padding-bottom: 100px;
}

.main-bg .main-content h2 {
  margin-top: 50px;
}

.main-bg .main-content .main-grid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-row: 2;
  gap: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.main-bg .main-content .main-grid .main-image-container {
  width: 200px;
  height: 270px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease all;
  border: 0px solid var(--mainColor);
}
.main-bg .main-content .main-grid .main-image-container:hover {
  transform: scale3D(1.1, 1.1, 1.1);
  border: 3px solid var(--mainColor);
}

.main-bg .main-content .main-grid .main-image-container img {
  width: 100%;
}

.news-bg {
  background-color: var(--elementDetails);
}

.news-bg .news-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0px;
}

.news-bg .news-content .news-info {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}

.news-bg .news-content .news-info h1 {
  font-size: 2.5rem;
}

.news-bg .news-content .news-info .news-info-card {
  max-width: 600px;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.2s ease all;
  border: 3px solid rgba(0, 0, 0, 0);
}

.news-bg .news-content .news-info .news-info-card:hover {
  transform: scale3d(1.02, 1.02, 1.02);
  border: 3px solid var(--mainColor);
}

.news-bg
  .news-content
  .news-info
  .news-info-card
  .news-info-card-image-container {
  max-height: 126px;
  max-width: 600px;
  overflow: hidden;
}

.news-bg
  .news-content
  .news-info
  .news-info-card
  .news-info-card-image-container
  img {
  max-width: 100%;
}

.news-bg .news-content .news-info .news-info-card .news-info-card-content {
  background-color: var(--contentBackground);
  padding: 25px;
}

.news-bg .news-content .news-info .news-info-card .news-info-card-content h1 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}

.news-bg
  .news-content
  .news-info
  .news-info-card
  .news-info-card-content
  h1::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: var(--mainColor);
  transition: 0.2s ease all;
}

.news-bg
  .news-content
  .news-info
  .news-info-card:hover
  .news-info-card-content
  h1::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: var(--mainColor);
}

.news-bg .news-content .news-info .news-info-card .news-info-card-content p {
  font-size: 0.95rem;
}

.news-bg .news-content .news-info .news-info-card .news-info-card-content a {
  font-size: 0.95rem;
  background-color: var(--mainColor);
  padding: 10px 15px;
  display: inline-block;
  border-radius: 5px;
  margin-top: 15px;
}
