/* *Main Content Section */
.main-bg {
  background-color: var(--contentBackground);
  height: auto;
}
/* !Introduction to User */
.main-bg .main-text-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.main-bg .main-text-intro div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main-bg .main-text-intro img {
  width: 150px;
}

.main-bg .main-text-intro h1 {
  font-size: 6rem;
  font-weight: normal;
}

.main-bg .main-text-intro h2 {
  font-size: 1.5rem;
  color: var(--elementDetails);
}

.main-bg .main-text-intro p {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
}

.main-bg .main-text-intro a {
  background-color: var(--mainColor);
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 1.2rem;
}

/* !End Introduction */

/* !Main Content */
.main-bg .main-content {
  padding-bottom: 100px;
}

.main-bg .main-content h2 {
  margin-top: 50px;
}

.main-bg .main-content .main-grid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-row: 2;
  gap: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.main-bg .main-content .main-grid .main-image-container {
  width: 200px;
  height: 270px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease all;
  border: 0px solid var(--mainColor);
}
.main-bg .main-content .main-grid .main-image-container:hover {
  transform: scale3D(1.1, 1.1, 1.1);
  border: 3px solid var(--mainColor);
}

.main-bg .main-content .main-grid .main-image-container img {
  width: 100%;
}
/* !End Main Content */
/* *End Main */

/* *News Section */
.news-bg {
  background-color: var(--elementDetails);
}

.news-bg .news-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 100px 0px;
}

/* !News Info Section */
.news-bg .news-content .news-info {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}

.news-bg .news-content .news-info h1 {
  font-size: 2.5rem;
}

/* ?News Card */
.news-bg .news-content .news-info .news-info-card {
  max-width: 600px;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.2s ease all;
  border: 3px solid rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.news-bg .news-content .news-info .news-info-card:hover {
  transform: scale3d(1.02, 1.02, 1.02);
  border: 3px solid var(--mainColor);
}
/* ?End Card */

/* ?News Banner */
.news-bg
  .news-content
  .news-info
  .news-info-card
  .news-info-card-image-container {
  height: 126px;
  width: 600px;
  overflow: hidden;
}

.news-bg
  .news-content
  .news-info
  .news-info-card
  .news-info-card-image-container
  img {
  max-width: 100%;
}
/* ?End Banner */

/* ?News Content */
.news-bg .news-content .news-info .news-info-card .news-info-card-content {
  background-color: var(--contentBackground);
  padding: 25px;
}

.news-bg .news-content .news-info .news-info-card .news-info-card-content h1 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}

.news-bg
  .news-content
  .news-info
  .news-info-card
  .news-info-card-content
  h1::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: var(--mainColor);
  transition: 0.2s ease all;
}

.news-bg
  .news-content
  .news-info
  .news-info-card:hover
  .news-info-card-content
  h1::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: var(--mainColor);
}

.news-bg .news-content .news-info .news-info-card .news-info-card-content p {
  font-size: 0.95rem;
}

.news-bg .news-content .news-info .news-info-card .news-info-card-content div {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.news-bg
  .news-content
  .news-info
  .news-info-card
  .news-info-card-content
  div
  p {
  color: var(--elementDetails);
}

.news-bg
  .news-content
  .news-info
  .news-info-card
  .news-info-card-content
  div
  a {
  font-size: 0.95rem;
  background-color: var(--mainColor);
  padding: 10px 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  margin-top: 15px;
  transition: 0.2s ease all;
}

.news-bg
  .news-content
  .news-info
  .news-info-card:hover
  .news-info-card-content
  div
  a {
  gap: 10px;
}
/* ?End Content */
/* !End News Info Section */

/* !Forum Section */
.news-bg .news-content .news-forum {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: start;
  position: relative;
}

.news-bg .news-content .news-forum h1 {
  font-size: 2.5rem;
}
/* *Card */
.news-bg .news-content .news-forum .news-forum-card {
  background-color: var(--contentBackground);
  padding: 20px;
  border-radius: 15px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 500px;
  border: 3px solid rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* ?User Section */
.news-bg .news-content .news-forum .news-forum-card .user-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-bg .news-content .news-forum .news-forum-card .user-section .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.news-bg .news-content .news-forum .news-forum-card .user-section .user p {
  font-size: 1.2rem;
  color: var(--white1);
  transition: 0.2s ease all;
}

.news-bg
  .news-content
  .news-forum
  .news-forum-card
  .user-section
  .user
  p:hover {
  color: var(--mainColor);
}

.news-bg .news-content .news-forum .news-forum-card .user-section p {
  font-size: 0.8rem;
  color: var(--elementDetails);
}

.news-bg
  .news-content
  .news-forum
  .news-forum-card
  .user-section
  .avatar-container {
  max-width: 50px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--mainColor);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ?End User Section */

/* ?Content Section */
.news-bg .news-content .news-forum .news-forum-card .content-section h2 {
  font-size: 0.95rem;
}
/* ?End Content Section */

/* ?Social Section */
.news-bg .news-content .news-forum .news-forum-card .social-section {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.news-bg .news-content .news-forum .news-forum-card .social-section div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
/* ?End Social Section */
/* !End Forum Section */

/* *Feed */
/* ?Feed Card */
.news-bg .news-content .news-forum .news-feed-card {
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  max-height: 150px;
  width: 500px;
  border: 3px solid rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* ?End Feed Card */

/* ?Feed Image Container */
.news-bg .news-content .news-forum .news-feed-card .feed-image-container {
  max-width: 100px;
  margin: 0 auto;
  position: relative;
}

.news-bg
  .news-content
  .news-forum
  .news-feed-card
  .feed-image-container::after {
  content: "";
  height: 100%;
  width: 3px;
  right: -3px;
  position: absolute;
  top: 0;
  background-color: var(--mainColor);
  z-index: 2;
}

.news-bg .news-content .news-forum .news-feed-card .feed-image-container img {
  width: 105%;
  transition: 0.2s ease all;
  z-index: 0;
}

.news-bg
  .news-content
  .news-forum
  .news-feed-card
  .feed-image-container
  img:hover {
  transform: scale3d(1.05, 1.05, 1.05);
}

/* ?End Feed Image Container */

/* !Feed Content */
.news-bg .news-content .news-forum .news-feed-card .content-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--contentBackground);
  padding: 0px 20px;
  gap: 10px;
  width: 100%;
  z-index: 1;
}

/* ?User Section */
.news-bg
  .news-content
  .news-forum
  .news-feed-card
  .content-section
  .user-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.news-bg
  .news-content
  .news-forum
  .news-feed-card
  .content-section
  .user-section
  .user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.news-bg
  .news-content
  .news-forum
  .news-feed-card
  .content-section
  .user-section
  .user
  p {
  font-size: 1.2rem;
  color: var(--white1);
  transition: 0.2s ease all;
}

.news-bg
  .news-content
  .news-forum
  .news-feed-card
  .content-section
  .user-section
  .user
  p:hover {
  color: var(--mainColor);
}

.news-bg
  .news-content
  .news-forum
  .news-feed-card
  .content-section
  .user-section
  p {
  font-size: 0.8rem;
  color: var(--elementDetails);
}

.news-bg
  .news-content
  .news-forum
  .news-feed-card
  .content-section
  .user-section
  .avatar-container {
  max-width: 50px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--mainColor);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ?End User Section */

/* ?Info Section */
.news-bg
  .news-content
  .news-forum
  .news-feed-card
  .content-section
  .info-section
  p {
  font-size: 0.95rem;
}
/* ?Social Section */
.news-bg
  .news-content
  .news-forum
  .news-feed-card
  .content-section
  .social-section {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  gap: 5px;
}
/* ?End Social Section */

@media (max-width: 1201px) {
  .main-bg .main-content .main-grid {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto auto;
  }
  .news-bg .news-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0px;
    gap: 40px;
  }
}

@media (max-width: 1024px) {
  .main-bg .main-content .main-grid {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto auto;
  }
}

@media (max-width: 768px) {
  .main-bg .main-content .main-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-bg .main-text-intro img {
    width: 100px;
  }

  .main-bg .main-text-intro h1 {
    font-size: 3rem;
  }

  .main-bg .main-content {
    text-align: center;
  }

  .news-bg .news-content .news-info h1 {
    font-size: 1.5rem;
  }
  .news-bg .news-content .news-info {
    display: flex;
    justify-items: center;
    align-items: center;
  }

  .news-bg .news-content .news-forum h1 {
    font-size: 1.5rem;
  }

  .news-bg .news-content .news-info .news-info-card {
    max-width: 400px;
  }

  .news-bg .news-content .news-info .news-info-card p {
    display: none;
  }

  .news-bg .news-content .news-forum {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .news-bg .news-content .news-forum .news-forum-card {
    width: 300px;
  }

  .news-bg .news-content .news-forum .news-feed-card {
    width: 400px;
  }
}

@media (max-width: 473px) {
  .main-bg .main-content .main-grid {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: auto auto auto auto auto;
  }

  .news-bg .news-content .news-info .news-info-card {
    max-width: 300px;
  }

  .news-bg .news-content .news-forum .news-feed-card {
    width: 300px;
  }

  .news-bg .news-content .news-forum .news-feed-card .feed-image-container {
    max-width: 80px;
    position: relative;
  }

  .news-bg .news-content .news-forum .news-feed-card .feed-image-container img {
    width: 140%;
  }
}
